@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

$base: 16px;
$ratio : $octave;

:root {
    font-size: $base;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 2em 0 0 0;
    color: #3c3c3c;
}

h1 {
    font-size: scale(5);
    font-weight: 700;
}


h3 {
    font-size: scale(2);
}


h4 {
    font-size: scale(1);
}

h5 {
    font-size: scale(0);
}

h3,
h4,
h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-weight: 300;
    font-family: 'Open Sans';
    font-size: scale(2);
    text-align: center;
    margin: 4em 0 2em 0;
    border: none;
    letter-spacing: 1px;
    font-weight: 400;
}



a {
    border-bottom: 1px solid lighten( #3c3c3c, 50% );
    padding-bottom: 0.25em;
    text-decoration: none;
    color: inherit;
    color: #3c3c3c;
    // font-weight: 700;
    &:hover {
        color: #EC3549;
    }
}

strong {
    color: #3c3c3c;
}


body {
    font-family: 'Lora', serif;
    font-size: scale(0);
    line-height: 1.5;
    color: lighten( #3c3c3c, 20% );
}
