@import 'harmon';
@import 'type';

.header {
    position: relative;
    overflow: hidden;
    padding: 50px 5%;
    font-size: 0.6em;
    color: darken( #FAFAFA, 10% );
}

.page-content {
    padding: 10px 0;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.page-title {
    margin: 0;
    // color: darken( #EC3549, 15% );
    color: lighten( #3c3c3c, 50% );
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    padding: 0;
}
.page-subtitle {
    margin: 0;
    color: lighten( #3c3c3c, 20% );
    border: none;
    padding: 0;
    text-align: left;
}

.page-divider {
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 8px;
    background: #FFC535;
    border-radius: 2px;
    margin: 60px 0;
}


blockquote {
    position: relative;
    overflow: hidden;
    text-decoration: italics;
}

.site-footer-nav {
    position: relative;
    overflow: hidden;
    list-style: none;
    font-size: 0.8em;
    color: lighten( black, 40% );
    padding: 20px 0;
    .site-footer-nav-seperator {
        position: relative;
        overflow: hidden;
        clear: both;
        width: 100px;
        height: 5px;
        background: lighten( #EC3549, 5% );
        border-radius: 2px;
        margin: 10px 0;
    }
    .nav-links {
        position: relative;
        overflow: hidden;
        padding: 10px 0;
        width: 700px;
        .site-footer-nav-item {
            position: relative;
            display: inline-block;
            padding: 0 10px;
            margin: 10px 0;
            border-right: 1px dotted darken( #f1f1f1,10% );
            a {
                color: inherit;
                text-transform: lowercase;
                border: none;
                &:hover {
                    color: #CC7B7B;
                }
            }

        }
    }
}


.begood-container {
  position: relative;
  overflow: hidden;
  margin: 40px auto 0 auto;
  height: auto;
  display: none;
  .begood-canvas {
    position: relative;
    overflow: hidden;
    height: auto;
  }
}

.begood-text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 8s linear forwards;
  -webkit-animation: draw 8s linear forwards;
  -moz-animation: draw 8s linear forwards;
  -o-animation: draw 8s linear forwards;
  font-weight: bold;
}
@keyframes draw {
to {
    stroke-dashoffset: 0;
    }
}
@-webkit-keyframes draw {
to {
    stroke-dashoffset: 0;
    }
}

@-moz-keyframes draw {
to {
    stroke-dashoffset: 0;
    }
}
@-o-keyframes draw {
to {
    stroke-dashoffset: 0;
    }
}
