<div class="cpk-toolbar-container">
    <div class="cpk-toolbar-icon">
        <svg id="cpk-lamp" viewBox="0 0 36 46">
            <path id="cpk-lamp-path" d="M11.364125,10.641204 L2.523106,23.5231063 L0,21 L2.523106,23.5231063 L11.364125,10.641204 C11.584658,10.8041067 11.81662,10.9563031 12.059697,11.0966441 L14.700647,12.6213971 L20.346368,2.84272069 L17.705419,1.3179677 C14.21878,-0.69504422 9.74607,0.50199749 7.72733,3.99855693 L9.392112,1.11507151 C7.510607,4.37393312 8.416529,8.4638793 11.364125,10.641204 L11.364125,10.641204 Z M2.523106,23.5231063 L13,34 L2.523106,23.5231063 L2.132252,24.0926041 L2.523106,23.5231063 L2.523106,23.5231063 Z M12.027929,43.9720707 C12.027929,43.9720707 12.027929,43.9720707 22,43.9720709 C22,38.4646482 17.535352,34 12.027929,34 C6.520506,34 2.055858,38.4646482 2.055858,43.9720709 L12.027929,43.9720707 L12.027929,43.9720707 Z M26.406432,12.4441411 C26.406432,12.4441411 26.406432,12.4441411 31.392467,3.80807434 C27.95764,1.82497584 22.635461,-1.24778498 19.838586,3.59654462 C19.838586,3.59654462 17.649426,7.3882816 15.282923,11.4871858 C12.663391,16.0243481 16.650829,18.3264964 21.420397,21.0802078 L26.406432,12.4441411 L26.406432,12.4441411 Z M27.267949,17.9641016 C29.18112,19.0686711 31.627481,18.4131705 32.732051,16.5 C33.83662,14.5868295 33.18112,12.1404679 31.267949,11.0358984 L27.267949,17.9641016 Z"></path>
        </svg>
    </div>
</div>
