{{!-- INCLUDE SITE HEADER --}}
{{>site-header}}
    <div class="page-content">
        {{!-- INCLUDE PAGE TITLE --}}
        <h1 class="page-title">{{ this.page.title }}</h1>
        <h3 class="page-subtitle">{{ this.page.subtitle }}</h3>
        <div class="page-divider"></div>
        {{> body}}
    </div>



{{!-- INCLUDE SITE FOOTER --}}
{{>site-footer}}
